.toggle {
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--tomato);
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
}

.toggle>*{
    width: 1rem;
    height: 1rem;
    color: var(--tomato);
}

.t-button {
    border-radius: 100px;
    background: var(--tomato);
    position: absolute;
}