.contact-form {
    display: flex;
    /* height: 80vh; */
    margin-top: 4rem;
    /* scroll */
    padding-top: 3rem;
}

.c-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.c-right > form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.c-right .user {
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(tomato);
    border-radius: 8px;
    font-size: 16px;
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--tomato);
    border-radius: 8px;
    font-size: 16px;   
}

textarea{
    height: 4rem!important;
}

.contact-lottie {
    /* transform: scale(0.8); */
    width: 50%;
    height: 40%;
}

/* .c-blur1{
    top: 10rem;
    left: 8rem;
}

.c-blur1{
    top: 150rem;
    left: 30rem;
} */

@media screen and (max-width: 1200px){
    /* .awesome {
        text-align: center;
    } */
    
    .contact-form {
        padding-top: 10rem;
    }
}

@media screen and (max-width: 480px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        /* gap: 2rem; */
        height: 40rem;
    }

    .c-right .user{
        width: 16rem;
    }

    .awesome {
        text-align: center;
    }

    .contact-lottie {
        display: none;
    }

}   